<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" /></configSections>
  <connectionStrings>
    <!--<add name="ISContext" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\ISDb.mdf;Integrated Security=True;multipleactiveresultsets=True;" />-->
    <add name="ISContext" connectionString="data source=gdu-sqlls-001;initial catalog=interactiveSystem;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="TVNewsContext" connectionString="metadata=res://*/tvNews.csdl|res://*/tvNews.ssdl|res://*/tvNews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gdu-sqlls-001;initial catalog=TVNews;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--онлайн-видео-->
    <add key="PathToMedia" value="\\gdu-media-001\Video\userfiles" />
    <add key="BaseUrlToTvNewsImage" value="https://aup-appsrv-001/tvNewsLast/api/Media/Image/" />
    <add key="BaseUrlToTvNewsVideo" value="https://aup-appsrv-001/tvNewsLast/api/Media/Play/" />
    
    <!--офлайн-видео-->
    <!--<add key="PathToMedia" value="\Content\userfiles" />
    <add key="BaseUrlToTvNewsImage" value="\Content\userfiles\" />
    <add key="BaseUrlToTvNewsVideo" value="\Content\userfiles\" />-->


    <add key="PathToPhotoGallery" value="\\gd-urengoy\ГДУ\МУЗЕЙ\Фотогалерея" />
    <add key="PathToBooks" value="\\gd-urengoy\ГДУ\МУЗЕЙ\Книги подразделений" />
    <add key="PathToPortalNews" value="\\gd-urengoy\ГДУ\МУЗЕЙ\Книги подразделений\PortalNews" />
    <add key="PathToNewsGallery" value="\Content\news" />
    
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <system.web>
    <!--<authentication mode="None" />
    <authorization>
      <allow users="*"/>
    </authorization>-->
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <customErrors mode="On" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Shared/Error" />
      <error statusCode="403" redirect="~/Shared/Error" />
      <error statusCode="500" redirect="~/Shared/Error" />
      <error statusCode="401" redirect="~/Shared/Error" />
    </customErrors>
  <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules></system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <staticContent>
      <!--<mimeMap fileExtension=".klc" mimeType="text/plain" />-->
      <remove fileExtension=".klc" />
      <mimeMap fileExtension=".klc" mimeType="application/octet-stream" />
    </staticContent>
  <validation validateIntegratedModeConfiguration="false" /><modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<resizer>
	<plugins>
	<add name="DiskCache" />
	<add name="PrettyGifs" /></plugins>
	</resizer></configuration>